.App {
  text-align: center;
}

.MuiAppBar-colorPrimary {
  color: rgb(0, 0, 0) !important;
  background-color: #ffffff !important;
}

.MuiListItemIcon-root {
  color: rgba(0, 0, 0, 0.54);
  display: inline-flex;
  min-width: 0px !important;
  width: 0px !important;
  flex-shrink: 0;
}


.MuiDrawer-paperAnchorDockedLeft {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  width: 70px !important;
}


.MuiList-padding {
  padding-top: 90px !important;
  padding-bottom: 8px;
}

.makeStyles-appBar-4 {
  z-index: 1190 !important;
}

 .MuiToolbar-gutters {
    padding-left: 70px !important;
    padding-right: 20px !important;
}


.MuiAvatar-root {
  width: 35px !important;
  height: 35px !important;
  font-size: 1rem !important;
}

 .Mui-selected-border {
  border: #3ebbb3 !important;
  border-style: solid !important;
  border-width: 0 3px 0 0 !important;
}

.Mui-selected{
  color: #3ebbb3 !important;
}


.MuiBadge-colorSecondary {
  color: #fff;
  background-color: #ef5d68 !important;
}

.makeStyles-appBar-5 {
  z-index: 1190 !important;
}

.logo{
  margin-top: 10px;
  margin-left: 40px;
}

@media only screen and (max-width: 600px) {
  .logo{
    margin-top: 15px;
    margin-left: 0;
    width: 90%;
    height: auto;
  }
}

.MuiIconButton-colorInherit {
  color: grey !important;
}
.big-icon{
  font-size: 2rem !important;
}


.MuiContainer-maxWidthSm {
  max-width: 80% !important; 
  margin: 5% auto !important;
  left: 90;
}

.MuiTypography-colorTextSecondary{

}

.MuiTypography-colorTextPrimary{

}

.MuiCardHeader-root {
  display: flex;
  padding: 0 !important;
  align-items: left !important;
}


.MuiAvatar-root {
  width: 60px !important; 
  height: 60px !important;
  font-size: 1rem !important;
}

.makeStyles-bigAvatar-153 {
  width: 60px;
  height: 60px;
  margin: 10px 15px 20px 0 !important;

}


.MuiContainer-maxWidthMd {
    max-width: 80% !important;
}

.MuiButton-outlinedSizeSmall {
  padding: 6px 40px !important;
  font-size: 0.8125rem;
}

.MuiButton-outlinedPrimary:hover {
  border: 1px solid #3ebbb3 !important;
  background-color: rgba(15, 158, 194, 0.08);
}

.MuiButton-outlinedPrimary {
  color: #3ebbb3 !important;
  border: 1px solid #3ebbb3 !important;
}

.MuiCardActions-root {
  padding: 16px !important;
}


.TextTeal {
  color: #3ebbb3 !important;
}

.MuiLink-underlineHover {
  text-decoration: underline !important;
}

.MuiTypography-colorPrimary {
  color: #5f5f5f !important;
}